In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np
from sklearn import preprocessing

In [2]:
pd.options.display.float_format = '{:.2f}'.format

In [4]:
df = pd.read_excel('./files/서울 지하철역 마스터시트.xlsx')
df = df.fillna(0)
df.describe()

,퇴근시간 하차인원,신용판매금액,문화예술관람,공연장수 대비 예매건수,역위도,역경도,근처 공연장수,공연건수,예매건수
count,234.00,234.00,234.00,234.00,234.00,234.00,234.00,234.00,234.00
mean,2855032.06,1566.43,5.76,54114.95,37.55,127.01,29.29,262.87,432911.59
std,2486569.98,345.65,2.25,92803.96,0.05,0.08,44.59,380.78,724393.43
min,0.00,1092.00,1.60,0.00,37.46,126.80,0.00,0.00,0.00
25%,1284361.25,1320.00,4.10,2451.71,37.51,126.95,4.00,25.50,9640.75
50%,2090592.50,1467.00,5.30,14962.43,37.55,127.02,12.00,92.00,139401.00
75%,3296192.50,1631.25,7.40,47092.55,37.57,127.07,30.00,317.50,405154.25
max,16652081.00,2336.00,10.80,365279.20,37.69,127.17,167.00,1464.00,2845374.00

In [5]:
def get_score(level, data):
    score = [] 
    for j in range(len(data)): 
        for i in range(len(level)): 
            if data[j] <= level[i]: 
                score.append(i+1) 
                break 
            elif data[j] > max(level): 
                score.append(len(level)+1) 
                break 
            else: 
                continue 
    return score

In [2]:
get_score([10,50,100],[5,15,70,120])

[1, 2, 3, 4]

In [6]:
def get_grade(df, num_class, tick_point, col_map):
    
    ##### 필요모듈 체크
    import pandas as pd
    import numpy as np
    from sklearn import preprocessing

    ##### 파라미터 체크
    if not isinstance(df, pd.DataFrame): ## 데이터는 pd.DataFrame이어야 함.
        print('데이터는 pandas.DataFrame 객체여야 합니다.')
        return

    if isinstance(tick_point, dict) == False or isinstance(col_map, dict) == False: ## tick_point와 col_map은 모두 딕셔너리
        print(f'tick_point와 col_map은 모두 딕셔너리여야합니다.')
        return

    if not set(col_map.values()) == set(df[col_map.values()].columns):
        print('데이터 칼럼을 다시 확인해주세요')

    for k, v in tick_point.items():
        if isinstance(v, str):
            if not v in ['quantile','min_max']:
                print(f'{k}의 값은 "quantile" 또는 "min_max"중에 하나여야 합니다.')
                return
        elif isinstance(v,list) or isinstance(v,tuple):
            if len(v) != num_class[k]-1:
                print(f'{k}에 대응하는 리스트(튜플)의 원소는 {num_class[k]-1}개여야 합니다.')
                return
            
    for k, v in tick_point.items():
        scale = preprocessing.StandardScaler() ## 데이터 표준화
        temp_data = np.array(df[col_map[k]]) ## 데이터를 Numpy 배열로 변환
        temp_data = temp_data.reshape((-1,1)) ## scale을 적용하기위해 1차원 배열을 2차원으로 변환
        temp_data = scale.fit_transform(temp_data) ## 데이터를 평균은 0, 표준편차는 1을 갖도록 변환 
        temp_data = temp_data.squeeze() ## 데이터를 다시 1차원으로 변환

        if isinstance(v,str):
            if v == 'quantile':    
                ## 분위수 벡터
                quantiles_level = np.linspace(0,1,num_class[k]+1)[1:-1] ## 분위수를 구할 기준값을 지정 0과 1은 제외
                quantiles = [] ## 분위수를 담을 리스트
                for ql in quantiles_level:
                    quantiles.append(np.quantile(temp_data,ql)) ## 분위수를 계산하고 리스트에 삽입

            else: ## min_max인 경우      
                ## 등분점 계산
                quantiles = np.linspace(np.min(temp_data),np.max(temp_data),num_class[k]+1)[1:-1] ## 최소값과 최대값을 점수 개수만큼 등간격으로 분할하는 점

        else: ## 직접 구분값을 넣어주는 경우
            quantiles = v ## 직접 구분값을 넣어줌
        score = get_score(quantiles, temp_data) ## 구분값을 기준으로 점수를 부여하고 리스트로 저장한다.
        new_col_name = col_map[k]+'_'+k ## 점수값을 담는 변수의 이름

        df[new_col_name] = score ## 기존데이터 옆에 점수 데이터를 추가한다.
    return df

In [7]:
tick_point={'score_1':'quantile','score_2':'quantile',
            'score_3':'quantile', 'score_4':'quantile'}

col_map={'score_1':'퇴근시간 하차인원','score_2':'공연장수 대비 예매건수'
         ,'score_3':'신용판매금액','score_4':'문화예술관람'}

num_class= {'score_1':5,'score_2':5,'score_3':3,'score_4':3}

In [8]:
result = get_grade(df=df, num_class=num_class, 
                   tick_point = tick_point, col_map = col_map)
result[['퇴근시간 하차인원_score_1','공연장수 대비 예매건수_score_2',
        '신용판매금액_score_3','문화예술관람_score_4']]

     퇴근시간 하차인원_score_1  공연장수 대비 예매건수_score_2  신용판매금액_score_3  문화예술관람_score_4
0                    4                     2               3               1
1                    3                     2               1               3
2                    5                     4               3               3
3                    1                     4               3               3
4                    4                     2               2               1
..                 ...                   ...             ...             ...
229                  4                     1               1               3
230                  5                     1               2               2
231                  3                     2               2               2
232                  1                     5               1               1
233                  1                     4               3               1

[234 rows x 4 columns]

In [12]:
result['문화점수'] = (result['공연장수 대비 예매건수_score_2']+result['문화예술관람_score_4'])
result['인구점수'] = (result['퇴근시간 하차인원_score_1']+result['신용판매금액_score_3'])         
result['최종점수'] = (result['문화점수']+ result['인구점수'])/2
result_df = result.sort_values(by='최종점수', ascending=False)
result_df = result_df.reset_index(drop=True)
result_df[['역사명','문화점수','인구점수','최종점수']]   #최종 점수는 총 8점만점

      역사명  문화점수  인구점수  최종점수
0      강남     7     8  7.50
1      신사     8     7  7.50
2      목동     7     8  7.50
3     오목교     7     8  7.50
4     압구정     8     7  7.50
..    ...   ...   ...   ...
229   개화산     3     3  3.00
230    신내     4     2  3.00
231    마곡     3     3  3.00
232  여의나루     4     2  3.00
233    온수     2     4  3.00

[234 rows x 4 columns]

In [11]:
final_df = result_df[result_df['최종점수']>=6]  ## 최종 점수가 6점 이상인 지하철역 추출
final_df

,역사명,자치구,역위도,역경도,역사도로명주소,근처 공연장수,공연건수,예매건수,퇴근시간 하차인원(17시~1시),신용판매금액,문화예술관람,한 공연당 예매건수,퇴근시간 하차인원(17시~1시)_score_1,한 공연당 예매건수_score_2,신용판매금액_score_3,문화예술관람_score_4,문화점수,인구점수,최종점수
0,강남,강남구,37.49720,127.0281,서울특별시 강남구 강남대로 지하 396 (역삼동),32,717,729016,8523024,2326,9.0,32536.280,5,4,3,3,7,8,7.5
1,신사,강남구,37.51619,127.0201,서울특별시 강남구 도산대로 지하 102 (신사동),27,141,689421,3000049,2326,9.0,132016.800,4,5,3,3,8,7,7.5
2,목동,양천구,37.52587,126.8646,서울특별시 양천구 오목로 지하245 (목동),6,22,127899,4354611,1635,6.9,34881.550,5,4,3,3,7,8,7.5
3,오목교,양천구,37.52437,126.8751,서울특별시 양천구 오목로 지하342 (목동),12,40,135918,3930592,1635,6.9,40775.400,5,4,3,3,7,8,7.5
4,압구정,강남구,37.52669,127.0284,서울특별시 강남구 압구정로 지하 172 (신사동),30,155,476649,2699955,2326,9.0,92254.650,4,5,3,3,8,7,7.5
5,역삼,강남구,37.50054,127.0364,서울특별시 강남구 테헤란로 지하 156 (역삼동),37,188,286744,2876699,2326,9.0,56433.660,4,4,3,3,7,7,7.0
6,왕십리,성동구,37.56153,127.0375,서울특별시 성동구 왕십리로 지하300(행당동),12,51,259636,3585752,1599,8.4,61090.820,4,5,2,3,8,6,7.0
7,구의,광진구,37.53692,127.0857,서울특별시 광진구 아차산로 384-1 (구의동),10,37,95648,5474505,1382,8.3,25850.810,5,4,2,3,7,7,7.0
8,성신여대입구,성북구,37.59274,127.0163,서울특별시 성북구 동소문로 지하 102 (동선동4가),136,1024,2076858,3996304,1339,7.4,275832.700,5,5,1,3,8,6,7.0
9,구파발,은평구,37.63665,126.9188,서울특별시 은평구 진관2로 지하 15-25 (진관동),18,79,241770,4232637,1445,9.3,55086.840,5,4,2,3,7,7,7.0
10,고속터미널,서초구,37.50437,127.0049,서울특별시 서초구 신반포로 지하 188 (반포동),26,713,720508,8979846,2336,5.3,26273.780,5,4,3,2,6,8,7.0
11,삼성,강남구,37.50869,127.0632,서울특별시 강남구 테헤란로 지하 538 (삼성동),18,101,186536,2780253,2326,9.0,33244.040,4,4,3,3,7,7,7.0
12,건대입구,광진구,37.54061,127.0701,서울특별시 광진구 아차산로 243 (화양동),17,60,118447,10085535,1382,8.3,33559.980,5,4,2,3,7,7,7.0
13,군자,광진구,37.55713,127.0794,서울특별시 광진구 천호대로 지하550,11,40,95701,5392669,1382,8.3,26317.780,5,4,2,3,7,7,7.0
14,선릉,강남구,37.50438,127.0487,서울특별시 강남구 테헤란로 지하 340 (삼성동),30,141,222792,2981660,2326,9.0,47402.550,4,4,3,3,7,7,7.0
15,상왕십리,성동구,37.56417,127.0294,서울특별시 성동구 왕십리로 지하 374 (하왕십리동),52,353,1013473,2831393,1599,8.4,149293.500,4,5,2,3,8,6,7.0
16,양재,서초구,37.48381,127.0346,서울특별시 서초구 남부순환로 지하 2585 (서초동),26,676,699547,3998643,2336,5.3,26905.650,5,4,3,2,6,8,7.0
17,교대,서초구,37.49320,127.0142,서울특별시 서초구 서초대로 지하 294 (서초동),26,693,666757,4334440,2336,5.3,25015.410,5,3,3,2,5,8,6.5
18,금호,성동구,37.54800,127.0157,서울특별시 성동구 동호로 지하 104 (금호동4가),32,198,740930,1831467,1599,8.4,119746.300,3,5,2,3,8,5,6.5
19,길음,성북구,37.60351,127.0250,서울특별시 성북구 동소문로 지하 248 (길음동),44,338,231922,4620336,1339,7.4,30191.030,5,4,1,3,7,6,6.5
20,신촌,마포구,37.55534,126.9369,서울특별시 마포구 신촌로 지하 90 (노고산동),40,364,179986,5121833,1586,6.3,19778.680,5,3,2,3,6,7,6.5
21,강변,광진구,37.53488,127.0947,서울특별시 광진구 강변역로 53 (구의동),10,174,400130,6585359,1382,8.3,22995.980,5,3,2,3,6,7,6.5
22,양천구청,양천구,37.51205,126.8656,서울특별시 양천구 목동로3길 지하 33(신정동),12,58,142874,1784526,1635,6.9,29560.140,3,4,3,3,7,6,6.5
23,홍대입구,마포구,37.55702,126.9250,서울특별시 마포구 양화로 지하160 (동교동),38,349,173963,9185956,1586,6.3,18941.530,5,3,2,3,6,7,6.5
24,옥수,성동구,37.54149,127.0178,서울특별시 성동구 동호로 21 (옥수동) 옥수역,27,174,669757,2068511,1599,8.4,103927.800,3,5,2,3,8,5,6.5
25,성수,성동구,37.54443,127.0560,서울특별시 성동구 아차산로 100 (성수동2가),18,74,135542,2874984,1599,8.4,32969.680,4,4,2,3,7,6,6.5
26,합정,마포구,37.54960,126.9141,서울특별시 마포구 양화로 지하 55 (서교동),38,459,150028,7334295,1586,6.3,12420.620,5,3,2,3,6,7,6.5
27,대청,강남구,37.49346,127.0795,서울특별시 강남구 일원로 지하 2 (일원동),10,68,325774,1679736,2326,9.0,47907.940,2,4,3,3,7,5,6.0
28,논현,강남구,37.51119,127.0213,서울특별시 강남구 학동로 지하102(논현동),25,112,203540,1737769,2326,9.0,45433.040,2,4,3,3,7,5,6.0
29,아차산,광진구,37.55204,127.0896,서울특별시 광진구 천호대로 지하657,8,33,92857,3068462,1382,8.3,22510.790,4,3,2,3,6,6,6.0
30,잠실,송파구,37.51377,127.1022,서울특별시 송파구 올림픽로 지하 265 (잠실동),6,153,315026,13369327,1801,4.8,12353.960,5,3,3,1,4,8,6.0
31,아현,마포구,37.55722,126.9561,서울특별시 마포구 신촌로 지하 270 (아현동),50,662,531463,1962092,1586,6.3,40140.710,3,4,2,3,7,5,6.0
32,망원,마포구,37.55594,126.9098,서울특별시 마포구 월드컵로 지하77 (망원동),33,322,129767,2702569,1586,6.3,13299.100,4,3,2,3,6,6,6.0
33,대치,강남구,37.49428,127.0633,서울특별시 강남구 남부순환로 지하 2952 (대치동),21,115,178490,1678018,2326,9.0,32593.830,2,4,3,3,7,5,6.0
34,매봉,강남구,37.48685,127.0467,서울특별시 강남구 남부순환로 지하 2744 (도곡동),23,112,202070,1203378,2326,9.0,41496.520,2,4,3,3,7,5,6.0
35,디지털미디어시티,은평구,37.57663,126.8997,서울특별시 은평구 수색로 지하175 (증산동),12,27,73729,2393977,1445,9.3,32768.440,3,4,2,3,7,5,6.0
36,어린이대공원,광진구,37.54780,127.0746,서울특별시 광진구 능동로 지하210(화양동),15,57,118299,1790155,1382,8.3,31131.320,3,4,2,3,7,5,6.0
37,잠실새내,송파구,37.51141,127.0860,서울특별시 송파구 올림픽로 지하 140 (잠실동),14,214,390420,4389081,1801,4.8,25541.500,5,3,3,1,4,8,6.0
38,마포구청,마포구,37.56351,126.9032,서울특별시 마포구 월드컵로 지하190 (성산동),23,50,120077,2460588,1586,6.3,55235.420,3,4,2,3,7,5,6.0
39,서울역,중구,37.55575,126.9725,서울특별시 중구 세종대로 지하 2 (남대문로 5가),55,486,537454,5810145,1196,1.6,60822.980,5,5,1,1,6,6,6.0
40,신금호,성동구,37.55441,127.0206,서울특별시 성동구 금호로 지하154 (금호동2가),35,194,794054,1394267,1599,8.4,143257.200,2,5,2,3,8,4,6.0
41,수서,강남구,37.48716,127.1016,서울특별시 강남구 광평로 지하 270 (수서동),3,150,307896,2796072,2326,9.0,6157.920,4,2,3,3,5,7,6.0
42,남부터미널,서초구,37.48482,127.0162,서울특별시 서초구 서초중앙로 지하 31 (서초동),24,685,701745,3038367,2336,5.3,24586.690,4,3,3,2,5,7,6.0
43,행당,성동구,37.55754,127.0297,서울특별시 성동구 행당로 지하89 (행당동),16,90,381028,1759243,1599,8.4,67738.310,2,5,2,3,8,4,6.0
44,뚝섬유원지,광진구,37.53126,127.0667,서울특별시 광진구 능동로 10 (자양동),24,94,213151,1946153,1382,8.3,54421.530,3,4,2,3,7,5,6.0
45,한성대입구,성북구,37.58838,127.0060,서울특별시 성북구 삼선교로 지하1 (삼선동1가),143,1032,2079629,2510758,1339,7.4,288165.600,3,5,1,3,8,4,6.0
46,청담,강남구,37.51960,127.0538,서울특별시 강남구 학동로 지하508 (청담동),32,175,281924,1202240,2326,9.0,51551.820,2,4,3,3,7,5,6.0
47,공덕,마포구,37.54412,126.9514,서울특별시 마포구 마포대로 지하100(공덕동),33,453,116403,3985758,1586,6.3,8479.689,5,2,2,3,5,7,6.0
48,신정,양천구,37.52501,126.8562,서울특별시 양천구 오목로 지하179 (신정동),4,17,9592,2867841,1635,6.9,2256.941,4,2,3,3,5,7,6.0
49,숙대입구,용산구,37.54468,126.9720,서울특별시 용산구 한강대로 지하 306,36,171,539090,1836840,1620,2.2,113492.600,3,5,3,1,6,6,6.0

In [11]:
final_df['최종점수'].value_counts()

6.0    23
7.0    12
6.5    10
7.5     5
Name: 최종점수, dtype: int64

In [14]:
final_df.value_counts('자치구')

자치구
강남구    12
광진구     7
마포구     7
성동구     7
서초구     4
양천구     4
성북구     3
송파구     2
은평구     2
용산구     1
중구      1
dtype: int64

In [12]:
final_df.to_excel('./files./키오스크 설치 후보 상위 50개 지하철역.xlsx', index = False)

In [13]:
result_df.to_excel('./files./전체 지하철역 점수.xlsx', index = False)